# --- Telegram Configuration ---
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
CHAT_ID=YOUR_CHAT_ID_HERE

# --- Strategy Configuration ---
# Example: BSJP_SIGNAL_TIME=15:50
BSJP_SIGNAL_TIME=15:50
REPORT_TIME=17:00
EXIT_TIME=09:00
METALPRICE_API_KEY=YOUR_METALPRICE_API_KEY_HERE
